.login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: #001e52;
  box-shadow: 0 0 190px #00000080 inset;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 28px;
  color: #fff;
}
.login-header {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.login-header img {
  height: 90px;
}
.login-form {
  max-width: 100%;
  min-width: 35%;
  background: linear-gradient(
    180deg,
    rgba(98, 124, 174, 0.56) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 32px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .login {
    align-items: stretch;
  }
}
